@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: rgb(255, 255, 255);
    outline: none;
    user-select: none;
}

/* ==================================  DEFAULT STYLES  ====================================== */

header,
nav,
section,
footer {
    display: block;
}

h3,
h6 {
    margin: 0;
    padding: 0;
    text-align: center;
}

ul,
ul li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}

img {
    border: none;
    max-width: 100%;
    user-select: none;
}

a {
    padding: 7px;
    user-select: none;
    text-decoration: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    &:hover {
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
    &:focus {
        outline: none;
    }
    img {
        border: none;
    }
}

$headerBackground: #4d4d4d;
$serviceBackground: rgb(124, 124, 124);
$footerBack: #222;
$buttonColor: #50c3af;
$hoverColor: #2c7266;

@mixin buttonStyle() {
    background-color: $buttonColor;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    &:hover {
        background-color: $hoverColor;
    }
    &:active {
        position: relative;
        top: 1px;
    }
}

.container {
    width: 960px;
    margin: 0 auto;
}

/* ==================================  HEADER  ================================ */
.modernist {
    background-color: $headerBackground;
    padding-bottom: 550px;
}

.header__logo {
    font-size: 20px;
    font-weight: 700;
    text-shadow: 0 0 15px #fff;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 35px;
}

.header::after {
    content: "";
    width: 85%;
    margin: 20px auto;
    border-top: 1px solid rgb(133, 133, 133);
    display: block;
}

.header__menu {
    text-shadow: 0 0 15px #fff;
    padding-top: 10px;
    ul {
        display: flex;
    }
    li {
        margin-left: 30px;
    }

    a {
        border-radius: 7px;
        transition: all 0.3s ease 0s;
        &:hover {
            background-color: #50c3af;
            border-radius: 7px;
        }
    }
}

.header__active {
    background-color: #50c3af;
    border-radius: 7px;
}

.d-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__content {
    width: 90%;
    display: flex;
    justify-content: center;
}

.header__body {
    position: relative;
}

.header__info {
    margin-right: 30px;
}

.header__right-arrow,
.header__left-arrow {
    cursor: pointer;
    transform: scale(1.5);
}

.header__slide {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: all 1s ease 0s;
    opacity: 1;
    z-index: 5;
}

.hide_slides {
    opacity: 0;
}

.header__image img {
    border-radius: 50%;
    border: solid 20px #6d6d6d;
    margin: 55px 0;
}

.header__button {
    @include buttonStyle();
}

.header__info {
    width: 35%;
    h1 {
        margin: 0;
    }
    p {
        margin: 30px 0;
    }
}

/*================================ Service section =================================== */

.service {
    background-color: darkgrey;
    padding-bottom: 45px;
}

.service__titles {
    display: flex;
    justify-content: space-between;
    padding: 55px 0;
}

.service__title-image {
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.service__title-item {
    transition: all 0.3s ease 0s;
    width: 22%;
    background-color: #7c7c7c;
    padding: 20px 10px;
    color: #333;
    h1 {
        font-size: 32px;
        letter-spacing: 1.5;
        margin: 0;
        text-align: center;
    }

    &:hover {
        background-color: $buttonColor;
        cursor: pointer;
        color: #fff;
        transform: scale(1.05);
    }
}

.service__work-title {
    width: 30%;
    padding: 10px;
    border-radius: 7px;
    background-color: #3a3a3a;
    margin: 0 auto;
    text-align: center;
    font-size: 32px;
}

.service__work-elements {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
}

.service__work-item {
    width: 29%;
    border: 7px solid white;
    margin-top: 35px;
    transition: all 0.3s ease 0s;
    &:hover {
        cursor: pointer;
        border: 7px solid $buttonColor;
        box-shadow: 0 0 15px $buttonColor;
    }
}

.service__work-image {
    img {
        object-fit: cover;
    }
}

.service__work-description {
    background-color: black;
    text-align: center;
    padding: 7px;
}

/*================================ Contact section ================================*/
.contacts {
    background-color: $headerBackground;
    padding: 45px 0;
}
.contacts__container {
    display: flex;
    justify-content: space-between;
    color: #979797;
    h2 {
        color: #fff;
    }
    a {
        color: $buttonColor;
        display: inline-block;
        padding-left: 0;
        &:hover {
            text-decoration: underline;
            text-shadow: 0 0 10px white;
        }
    }
    span {
        color: $buttonColor;
    }
}

.form__input {
    background-color: #222;
    border-radius: 10px;
    outline: none;
    padding: 10px;
    width: 100%;
    border: none;
    margin-bottom: 15px;
    resize: vertical;
    box-sizing: border-box;
    &:focus {
        box-shadow: 0 0 10px white;
    }
}

.contacts__post-title {
    color: $buttonColor;
    text-align: left;
}

.contacts__blog,
.contacts__links,
.contacts__tweets,
.contacts__form {
    width: 23%;
}

.form__submit {
    padding: 10px 20px;
    @include buttonStyle();
}

/*================================ Footer section ================================*/
.footer {
    background-color: $footerBack;
    color: #979797;
    padding: 15px 0;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
}

/*================================  Media Queries ================================*/

// @media only screen and (max-width: 1199px) {
// }

@media only screen and (max-width: 991px) {
    .container {
        width: 720px;
    }

    .header__menu li {
        margin-left: 5px;
    }

    .header__image img {
        width: 340px;
        height: 340px;
        border-width: 15px;
    }
}

@media only screen and (max-width: 767px) {
    .container {
        width: 560px;
    }

    .header__content {
        flex-wrap: wrap;
    }
    .header__info {
        width: 90%;
    }

    .header__image img {
        width: 280px;
        height: 280px;
        border-width: 10px;
    }

    .header__info {
        p {
            font-size: 16px;
            margin: 5px 0 15px 25px;
            text-align: justify;
        }
        h1 {
            text-align: center;
        }
    }

    .modernist {
        padding-bottom: 720px;
    }

    .service__titles {
        flex-wrap: wrap;
    }
    .service__work-title {
        width: 50%;
    }

    .service__title-item {
        width: 45%;
        margin-bottom: 3%;
        p {
            font-size: 18px;
        }
    }

    .service__work-item {
        width: 45%;
    }
    .contacts__blog,
    .contacts__links,
    .contacts__tweets,
    .contacts__form {
        width: 45%;
    }

    .contacts__container {
        flex-wrap: wrap;
        font-size: 18px;
    }

    .footer {
        font-size: 18px;
    }
}

@media only screen and (max-width: 575px) {
    .container {
        width: 100%;
    }
    .modernist {
        padding-bottom: 700px;
    }

    .service__title-item {
        width: 100%;
        p {
            font-size: 24px;
            padding: 0 10px;
        }
    }

    .header__image img {
        width: 240px;
        height: 240px;
        border-width: 5px;
        margin: 30px 0;
    }

    .service__work-title {
        width: 70%;
    }

    .service__work-item {
        width: 100%;
    }

    .service__work-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contacts__blog,
    .contacts__links,
    .contacts__tweets,
    .contacts__form {
        width: 100%;
        margin: 15px;
    }
    .footer {
        padding: 15px;
    }
}

@media only screen and (max-width: 375px) {
    .modernist {
        padding-bottom: 770px;
    }

    .header__image img {
        width: 200px;
        height: 200px;
    }
}
