/*section 6*/

.left_img_s6 {
  float: left;
}

.menu_s6 {
  width: 50%;
  height: 380px;
  float: right;
}

.wrap6 {
  margin: 85px 0 120px 0;
}

.s6_item1 {
  width: 100%;
  height: 60px;
  border: 1px solid #E5E5E5;
}

.s6_item1 div {
  display: inline-block;
  line-height: 60px;
}

.item_s61 {
  position: relative;
  top: 10px;
  float: left;
  padding: 0;
  margin-left: 15px;
}

.item_s62 {
  float: left;
}

.item_s62 h5, .team h5 {
  padding: 0;
  margin: 0 0 0 15px;
  color: #333333;
}

.item_s63 {
  float: right;
  margin-right: 15px;
}

.s6_item2 {
  border: 1px solid #E5E5E5;
  height: 174px;
  width: 100%;
}

.s6_item2 p {
  float: left;
  font: 14px 'Roboto', sans-serif;
  font-style: italic;
  color: #999999;
  line-height: 25px;
  padding: 0 15px 0 15px;
  width: 80%;
}

.s6_item2 img {
  float: right;
}

.s6_scroll {
  margin: 15px 25px 0 0;
}

.mar6 {
  margin-top: 10px;
}

/*section 7*/

#s7 {
  background-color: #F8F8F8;
}

.wrap7 div {
  display: inline-block;
}

.s7_item1, .s7_item2, .s7_item3, .s7_item4 {
  float: left;
  margin: 70px 0 70px 25px;
}

.s7_item1 {
  margin-top: 130px;
}

.s7_item2 {
  margin-left: 75px;
}

.s7_item3 {
  width: 65%;
  margin: 50px 0 0 60px;
}

.s7_item3 p {
  font: 24px 'Roboto', sans-serif;
  font-style: italic;
  color: #999999;
}

.s7_item4 {
  margin: 130px 0 0 55px;
}

.s7_item3 span {
  position: relative;
  top: -20px;
  left: 80px;
}