@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: white;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body.lock_page-scroll {
  overflow: hidden;
}

/* ==================================  DEFAULT STYLES  ====================================== */
header,
nav,
section,
footer {
  display: block;
}

h3,
h6 {
  margin: 0;
  padding: 0;
  text-align: center;
}

ul,
ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

img {
  border: none;
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

a {
  padding: 7px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  outline: none;
  color: #fff;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:focus {
  outline: none;
}

a img {
  border: none;
}

.container {
  width: 960px;
  margin: 0 auto;
}

/* ==================================  HEADER  ================================ */
.modernist {
  background-color: #4d4d4d;
  padding-bottom: 550px;
}

.header__logo {
  font-size: 20px;
  font-weight: 700;
  text-shadow: 0 0 15px #fff;
  z-index: 5;
}

.header__wrapper {
  padding-top: 120px;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 960px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 15px;
  z-index: 10;
  background-color: rgba(77, 77, 77, 0.9);
}

.header::after {
  content: "";
  width: 85%;
  margin: 10px auto;
  border-top: 1px solid #858585;
  display: block;
}

.header__menu {
  text-shadow: 0 0 15px #fff;
  padding-top: 10px;
}

.header__menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__menu li {
  margin-left: 30px;
}

.header__menu a {
  border-radius: 7px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu a:hover {
  background-color: #50c3af;
  border-radius: 7px;
}

.header__active {
  background-color: #50c3af;
  border-radius: 7px;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__content {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__body {
  position: relative;
}

.header__info {
  margin-right: 30px;
}

.header__right-arrow,
.header__left-arrow {
  cursor: pointer;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.header__slide {
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  opacity: 1;
  z-index: 5;
}

.hide_slides {
  opacity: 0;
}

.header__image img {
  border-radius: 50%;
  border: solid 20px #6d6d6d;
  margin: 55px 0;
}

.header__button {
  background-color: #50c3af;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header__button:hover {
  background-color: #2c7266;
}

.header__button:active {
  position: relative;
  top: 1px;
}

.header__info {
  width: 35%;
}

.header__info h1 {
  margin: 0;
}

.header__info p {
  margin: 30px 0;
}

.menu__icon {
  display: none;
}

/*================================ Service section =================================== */
.service {
  background-color: darkgrey;
  padding-bottom: 45px;
}

.service__titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 55px 0;
}

.service__title-image {
  width: 120px;
  height: 120px;
  margin: 0 auto;
}

.service__title-item {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 22%;
  background-color: #7c7c7c;
  padding: 20px 10px;
  color: #333;
}

.service__title-item h1 {
  font-size: 32px;
  letter-spacing: 1.5;
  margin: 0;
  text-align: center;
}

.service__title-item:hover {
  background-color: #50c3af;
  cursor: pointer;
  color: #fff;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.service__work-title {
  width: 30%;
  padding: 10px;
  border-radius: 7px;
  background-color: #3a3a3a;
  margin: 0 auto;
  text-align: center;
  font-size: 32px;
}

.service__work-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
}

.service__work-item {
  width: 29%;
  border: 7px solid white;
  margin-top: 35px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.service__work-item:hover {
  cursor: pointer;
  border: 7px solid #50c3af;
  -webkit-box-shadow: 0 0 15px #50c3af;
          box-shadow: 0 0 15px #50c3af;
}

.service__work-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.service__work-description {
  background-color: black;
  text-align: center;
  padding: 7px;
}

/*================================ Contact section ================================*/
.contacts {
  background-color: #4d4d4d;
  padding: 45px 0;
}

.contacts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #979797;
}

.contacts__container h2 {
  color: #fff;
}

.contacts__container a {
  color: #50c3af;
  display: inline-block;
  padding-left: 0;
}

.contacts__container a:hover {
  text-decoration: underline;
  text-shadow: 0 0 10px white;
}

.contacts__container span {
  color: #50c3af;
}

.form__input {
  background-color: #222;
  border-radius: 10px;
  outline: none;
  padding: 10px;
  width: 100%;
  border: none;
  margin-bottom: 15px;
  resize: vertical;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form__input:focus {
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
}

.contacts__post-title {
  color: #50c3af;
  text-align: left;
}

.contacts__blog,
.contacts__links,
.contacts__tweets,
.contacts__form {
  width: 23%;
}

.form__submit {
  padding: 10px 20px;
  background-color: #50c3af;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.form__submit:hover {
  background-color: #2c7266;
}

.form__submit:active {
  position: relative;
  top: 1px;
}

/*================================ Footer section ================================*/
.footer {
  background-color: #222;
  color: #979797;
  padding: 15px 0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*================================  Media Queries ================================*/
@media only screen and (max-width: 991px) {
  .container,
  .header {
    width: 720px;
  }
  .header__menu li {
    margin-left: 5px;
  }
  .header__image img {
    width: 340px;
    height: 340px;
    border-width: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    width: 560px;
  }
  .header {
    width: 100%;
  }
  .header__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__info {
    width: 90%;
  }
  .header__image img {
    width: 280px;
    height: 280px;
    border-width: 10px;
  }
  .header__info p {
    font-size: 16px;
    margin: 5px 0 15px 25px;
    text-align: justify;
  }
  .header__info h1 {
    text-align: center;
  }
  .modernist {
    padding-bottom: 720px;
  }
  .service__titles {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .service__work-title {
    width: 50%;
  }
  .service__title-item {
    width: 45%;
    margin-bottom: 3%;
  }
  .service__title-item p {
    font-size: 18px;
  }
  .service__work-item {
    width: 45%;
  }
  .contacts__blog,
  .contacts__links,
  .contacts__tweets,
  .contacts__form {
    width: 45%;
  }
  .contacts__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 18px;
  }
  .footer {
    font-size: 18px;
  }
  .burger__icon {
    z-index: 5;
    display: block;
    position: relative;
    left: -20px;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .burger__icon::before, .burger__icon::after,
  .burger__icon span {
    left: 0px;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px white;
            box-shadow: 0 0 15px white;
  }
  .burger__icon::before, .burger__icon::after {
    content: "";
  }
  .burger__icon::before {
    top: 0;
  }
  .burger__icon::after {
    bottom: 0;
  }
  .burger__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .burger__icon.menu__active {
    left: -20px;
  }
  .burger__icon.menu__active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .burger__icon.menu__active::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .burger__icon.menu__active::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .header__menu {
    position: fixed;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100vh;
    background-color: rgba(26, 26, 26, 0.9);
    padding: 100px 30px 30px 30px;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }
  .header__menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu li {
    margin-bottom: 40px;
    font-size: 22px;
  }
  .header__menu::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 80px;
    background-color: rgba(34, 34, 34, 0.8);
    z-index: 2;
  }
  .menu__active {
    left: 0;
  }
}

@media only screen and (max-width: 575px) {
  .container {
    width: 100%;
  }
  .modernist {
    padding-bottom: 700px;
  }
  .service__title-item {
    width: 100%;
  }
  .service__title-item p {
    font-size: 24px;
    padding: 0 10px;
  }
  .header__image img {
    width: 240px;
    height: 240px;
    border-width: 5px;
    margin: 30px 0;
  }
  .service__work-title {
    width: 70%;
  }
  .service__work-item {
    width: 100%;
  }
  .service__work-image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .contacts__blog,
  .contacts__links,
  .contacts__tweets,
  .contacts__form {
    width: 100%;
    margin: 15px;
  }
  .footer {
    padding: 15px;
  }
}

@media only screen and (max-width: 375px) {
  .modernist {
    padding-bottom: 770px;
  }
  .header__image img {
    width: 200px;
    height: 200px;
  }
}
/*# sourceMappingURL=style.css.map */