@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../img/fon2.jpg);
  background-color: skyblue;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat ;
}

input[type="text"],
input[type="password"],
input[type="search"] {
  color: #5d5d5d;
  width: 60%;
  padding: 5px;
  border-radius: 6px;
}

/* Топ */

.header {
  background-color: #0b162a;
  font-size: 0.8em;
  margin-left: 0px;
  margin-right: 0px;
  height: 170px;
  min-width: 1080px;
}

.main,
.logo,
.menubar,
.footer,
.site_content {
  margin-left: auto;
  margin-right: auto;
}

.logo h1,
.logo h2 {
  font-family: "Roboto Slab", serif;
  font: normal 300%;
  text-align: center;
}

.logo_text h1,
.logo_text h1 a,
.logo_text h1 a:hover {
  text-decoration: none;
  padding: 20px 0 0 0;
  color: orangered;
  letter-spacing: 0.2em;
  font-size: 1.8em;
}

.logo_text h2 {
  color: orangered;
  padding: 4px 0 0 0;
  font-size: 1.2em;
  letter-spacing: 0.1em;
}

.logo h1 {
  box-shadow: 0 0 20px 7px #4169e1;
  text-shadow: 4px 4px 8px #577eff;
}

.menubar {
  width: 100%;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
}

.menu {
  margin: auto;
  display: inline;
  vertical-align: middle;
}

ul.menu {
  display: inline-block;
}

ul.menu li {
  box-shadow: inset 0 0 7px 3px #4169e1;
  padding: 5px 15px 5px 15px;
  list-style: none;
  display: inline-block;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
  letter-spacing: 0.1em;
  cursor: pointer;
}

ul.menu li:hover {
  background-color: #3152b0;
  color: black;
}

ul.menu li a {
  font: normal italic bold 100% "Roboto Slab", serif;
  display: block;
  height: 20px;
  padding: 5px 35px 5 px 30px;
  color: orangered;
  text-decoration: none;
}



ul.menu li.selected {
    box-shadow: 0 0 7px 3px orangered;
}

ul.menu li a:hover {
  color: black;
}

/* Правые блоки */
.site_content h2 {
  color: orangered;
}

.site_content {
  width: 1000px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border: silver solid 2px;
  border-radius: 10px;
  background: rgba(27, 28, 107, 0.9);
}

.sitebar_continer {
  float: right;
  width: auto;
}

.blocks {
  width: 220px;
  padding: 5px 5px 5px 5px;
  margin: 0 0 15px 0;
  border: solid 1px #f2f2f2;
  border-radius: 5px;
  background-color: #0b162a;
}

.btn {
  cursor: pointer;
  padding: 5px;
}

.for_registration a {
  color: black;
}

.for_registration a:hover {
  color: orangered;
}

.film_genre li a {
  text-decoration: none;
  color: orangered;
  background-color: #0b162a;
  border-radius: 5px;
  box-shadow: inset 0 0 7px 3px #4169e1;
  padding: 5px 15px 5px 15px;
}

.film_genre li a:hover {
  box-shadow: inset 0 0 7px 3px orangered;
}

.film_genre {
  list-style: none;
}

.film_genre li {
  margin-top: 10px;
}

.rating_blocks {
  float: right;
  color: silver;
}

/* Футер   */

.footer {
  box-shadow: 0 0 10px 7px #4169e1;
  width: 100%;
  height: 70px;
  padding: 30px 0 5px 0;
  text-align: center;
  background-color: #0b162a;
  color: orangered;
  margin-right: 0px;
  margin-left: 0px;
  min-width: 1080px;
}

.footer a {
  font: normal italic bold 100% "Roboto Slab", serif;
  padding: 5px 35px 5px 30px;
  color: orangered;
  text-decoration: none;
}

.footer a:hover {
  color: #3d62d3;
}

.footer p {
  display: inline;
}

.copy {
  color: silver;
}

/* Контент сайта*/

.our_movies {
  margin: 5px 5px 5px 10px;
  float: left;
  width: 350px;
  color: silver;
}

.our_movies p {
  color: white;
  font-family: "Roboto Slab", serif;
}

/* Страницы с фильмами */

.content_pages {
  margin-left: 2%;
  font-family: "Roboto Slab", serif;
}
.content_pages p {
  font-family: "Roboto Slab", serif;
}
.label {
  font: 24px bold;
  color: gainsboro;
  text-decoration: underline;
}

.value {
  font: 18px bolder italic;
}

.reviews {
  margin-bottom: 4%;
  font-size: 0.9em;
}

.reviews .reviews_name {
  background-color: rgb(72, 1, 102);
  color: white;
  padding: 1%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.reviews .reviews_text {
  padding: 2% 2% 2% 2%;
}

.send_area {
  margin-bottom: 4%;
}

.send_area input[type="text"],
textarea {
  border: solid 2px;
  margin-bottom: 2%;
}

.send_area input[type="text"] {
  width: 98%;
}

.send_area textarea {
  width: 98%;
  height: 200px;
  border-radius: 5px;
}

.send_area input[type="submit"] {
  background-color: darkslateblue;
  padding: 1%;
  color: white;
  border-radius: 5px;
}

/* Страница контактов*/

.contact_area {
  margin-bottom: 4%;
}

.contact_area input[type="text"],
textarea {
  border: solid 2px;
  margin-bottom: 2%;
}

.contact_area input[type="text"] {
  width: 50%;
}

.contact_area textarea {
  width: 50%;
  height: 200px;
  border-radius: 5px;
}

.contact_area input[type="submit"] {
  background-color: #0b162a;
  padding: 1%;
  color: white;
  border-radius: 5px;
}

/*Меню фильмы */

.block_films {
  margin-bottom: 5%;
  margin-top: 3%;
  background-color: #6867b6;
  padding: 1%;
  height: 250px;
  width: 70%;
  font-family: "Roboto Slab", serif;
}

.block_films img {
  float: left;
  margin-right: 2%;
  border: solid 5px;
  border-radius: 5px;
  width: 15%;
}

.button {
  background-color: orangered;
  padding: 1%;
  color: white;
  border-radius: 5px;
  width: auto;
  margin-top: 3%;
  margin-bottom: 1%;
  text-align: center;
}

.button a {
  color: black;
  font-family: "Roboto Slab", serif;
}

/*Страница рейтингов */

.raiting {
    color: white;
    border: solid 1px silver;
    width: 70%;
    margin-top: 2%;
    
}

.raiting a {
    color: white;
    font-family: "Roboto Slab", serif;
}

.raiting td {
    padding: 1%;
    border: solid 1px #f4f4f4;
}

.raiting img {
    width: 60px;
    vertical-align: middle;
}

.center {
    text-align: center;
}

.name_film {
    width: 500px;
}


/*CSS Mobile*/

@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
.header {

}

}




