.header {
  grid-area: header;
  background-color: #B3B3B3;
  color: rgb(97, 90, 145);
  border-radius: 5px;
}

.header img {
  height: 50px;
  border-radius: 5px;
  margin: 0 0 0 0;
  vertical-align: middle;
}