/*section 8*/

#s8_item {
  position: absolute;
  top: 90px;
  left: -10px;
  width: 380px;
  height: 470px;
  background-image: url(../images/s8_picture.png);
  box-shadow: 10px 10px 0px 0px #95E1D3;
  margin-top: 0;
}

#s8_item2 {
  margin-left: 34%;
}

.nav8 {
  position: relative;
  top: -400px;
  left: 70px;
}

.nav8 ul {
  margin: 0;
  padding: 0;
  display: block;
}

.menu8 li {
  display: block;
  float: left;
}

.menu8 li a {
  background-color: #fce38a;
  padding: 25px 15px 10px 15px;
  border: 1px solid #f9bd87;
}

.menu8 li a:hover {
  background-color: #f38181;
  transition: 0.5s;
}

.rol1, .rol2, .rol3, .rol4 {
  display: block;
  width: 26px;
  height: 20px;
}

.rol1 {
  background: url(../images/facebook_w.png) no-repeat;
  background-position: center;
}

.rol2 {
  background: url(../images/twitter.png) no-repeat;
  background-position: center;
}

.rol3 {
  background: url(../images/pinterest.png) no-repeat;
  background-position: center;
}

.rol4 {
  background: url(../images/instagram.png) no-repeat;
  background-position: center;
}

a.rol1:hover {
  background: url(../images/facebook.png) no-repeat;
  background-position: center;
}

a.rol2:hover {
  background: url(../images/twitter_w.png) no-repeat;
  background-position: center;
}

a.rol3:hover {
  background: url(../images/pinterest_w.png) no-repeat;
  background-position: center;
}

a.rol4:hover {
  background: url(../images/instagram_w.png) no-repeat;
  background-position: center;
}

.team {
  float: left;
  width: calc(100%/3);
  margin-bottom: 100px;
}

.team p {
  font: 15px 'Roboto', sans-serif;
  font-style: italic;
  color: #999999;
  text-align: center;
}

.team h5 {
  text-align: center;
}

/*section 9*/

#s9 {
  background-color: #f8f8f8;
}

.cont9 {
  margin-top: 150px;
}

/*section 10*/

.gallery2 {
  width: 100%;
  margin-top: 50px;
}

.cont10_1 img {
  width: calc(100%/4);
}

.cont10_1 {
  font-size: 0;
  float: left;
}

/*section 11*/

.s11_item2 {
  float: left;
  margin: 70px 0 70px 45px;
}

.mar11 {
  padding-top: 40px;
}

/*section 12*/

#s12 {
  background: url(../images/s12_back.png) no-repeat;
  background-size: cover;
}

.s12_container {
  padding-bottom: 100px;
}

.s12_item1 {
  width: 50%;
  float: left;
}

.mar12 {
  margin-top: 0px;
  padding-top: 80px;
}

.s12_info1 {
  text-align: left;
  margin: 0 0 0 20px;
  padding: 40px 0 0 0px;
  font-size: 14px;
}

.s12_info2 {
  text-align: left;
  margin: 5px 0 0 0;
  font-size: 15px;
}

.s12_ava {
  float: left;
}

.s12_ava img {
  padding: 40px;
}

.s12_info hr {
  margin-top: 30px;
}

.s12_align {
  text-align: left;
  padding-top: 10px;
  line-height: 25px;
}