.main_content {
  grid-area: cont;
  background-color: #b3b3b3;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 150px 1fr 200px;
  grid-template-rows: 150px 150px auto;
  grid-gap: 8px;
  grid-template-areas: "picture_of_page   picture_of_page   picture_of_page" "avatar information friends_online" "settings       information       friends_online" "content_from_users content_from_users content_from_users";
}

.main_content img {
  width: 100%;
  height: 150px;
  border-radius: 5px;
}

.profile {
  width: auto;
}

.picture_of_page {
  background-color: white;
  grid-area: picture_of_page;
  height: 100%;
}

.avatar {
  grid-area: avatar;
}

.avatar img {
  width: 150px;
  height: 150px;
  border-radius: 5px;
  margin: 0 0 0 0px;
}

.information {
  background-color: white;
}

.information p {
  padding-left: 10px;
  margin: 3px 0px;
}

.settings {
  background-color: white;
  grid-area: settings;
  padding-left: 10px;
}

.friends_online {
  background-color: white;
  grid-area: friends_online;
}