.item {
  width: 70%;
  text-overflow: clip;
  margin: 0px auto 30px;
  padding: 10px;
  color: blue;
  font-size: 24px;
  box-shadow: 0px 0px 10px #374151;
  color: #374151;
  font-size: 1.2rem;
}

.ava img {
  margin-right: 10px;
  float: left;
  height: 50px;
  width: 50px;
  border-radius: 40px;
}

.info_about_post {
  color: indigo;
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  position: relative;
  bottom: -15px;
}

.clearfix::after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}