body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

header {
  background-image: url(../images/back1.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.clearfix::after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  float: left;
  color: white;
  margin-top: 28px;
}

.logo a {
  text-decoration: none;
  color: white;
}

nav {
  float: right;
  margin-top: 42px;
}

.menu {
  display: block;
  margin: 0;
  padding: 0;
}

.menu li {
  float: left;
  display: block;
  margin-right: 55px;
}

.menu li:nth-child(6) {
  margin: 0;
}

.menu li:last-child {
  margin: 0 0 0 30px;
}

.menu li a {
  color: white;
  user-select: none;
  text-decoration: none;
  padding: 10px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.menu li a:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}

.rollover1, .rollover2 {
  display: block;
  width: 18px;
  height: 18px;
}

.rollover1 {
  background: url(../images/shoping.png) no-repeat;
}

.rollover2 {
  background: url(../images/search.png) no-repeat;
}

a.rollover1:hover {
  background: url(../images/shopingyell.png) no-repeat;
  padding-bottom: 0;
}

a.rollover2:hover {
  background: url(../images/searchyell.png) no-repeat;
  padding-bottom: 0;
}

.p1, .p2 {
  color: white;
  text-align: center;
}

.p1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 72px;
  margin: 120px 0 0 0;
  line-height: 160px;
}

.p2 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 150px;
  font-weight: 700;
  margin: 0;
  line-height: 140px;
}

.button {
  display: block;
  width: 160px;
  height: 35px;
  border: 3px solid white;
  text-decoration: none;
  color: white;
  user-select: none;
  margin: 55px auto 0;
  text-align: center;
  line-height: 35px;
  font-weight: 700;
  font-size: 14px;
}

.button:hover {
  color: rgb(255, 255, 255);
  background-color: #fce38a;
}

header hr {
  margin-top: 55px;
}

.nav2 {
  display: flex;
  justify-content: space-between;
  margin-top: 150px;
}

.nav2 a {
  display: inline-block;
  width: 280px;
  text-decoration: none;
  user-select: none;
  color: #F7EAC5;
  padding: 20px 0;
  margin-top: 0px;
  border-top: 3px solid #F7EAC5;
  font-weight: 500;
}

.nav2 a:hover {
  border-top: 3px solid white;
  background: #fce38a;
  color: dimgray;
}

.big {
  font-size: 24px;
  font-weight: 700;
}

.small {
  font-size: 18px;
}