.nav {
  grid-area: nav;
  background-color: #B3B3B3;
  color: #374151;
  border-radius: 5px;
  font-size: 1.3em;
  font-weight: 500;
}

a {
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: #374151;
  padding: 10px;
  box-shadow: inset 0 0 7px 3px #374151;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5), inset 0 1px rgba(255, 255, 255, 0.3), inset 0 10px rgba(255, 255, 255, 0.2), inset 0 10px 20px rgba(255, 255, 255, 0.25), inset 0 -15px 30px rgba(0, 0, 0, 0.3);
}

.nav_button a:hover {
  box-shadow: inset 0 0 7px 7px #374151;
}

.nav_button {
  margin: 15px auto;
  width: 90%;
}

.nav a.nav_active {
  font-weight: 900;
  box-shadow: inset 0 0 7px 5px #374151;
}