@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: 400 16px 'Roboto', sans-serif;
    color: #fff;
}

/* =============== DEFAULT STYLES =============== */

header, section, footer {
    display: block;
}

img {
    border: none;
    max-width: 100%;
    object-fit: cover;
}

h2 {
    font-size: 45px;
    font-weight: 300;
}

h2 span {
    font-weight: 900;
}

a {
    font-size: 16px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    user-select: none;
    outline: none;
    cursor: pointer;
}

ul, ul li, p {
    margin: 0;
    padding: 0;
}

ul, ul li {
    list-style: none;
    display: block;
}

#wrapper {
    display: grid;
    margin: 0 auto;
    width: 1366px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "header__left header__left header__left header__left header__right header__right" "section__sketch section__sketch section__sketch section__starting section__starting section__starting" "section__sketch section__sketch section__sketch section__dummy section__dummy section__dummy" "section__ali-sayed section__ali-sayed section__hello section__hello section__hello section__hello";
}

h2, p {
    margin-left: 50px;
}

/* =============== HEADER =============== */

.header__left {
    grid-area: header__left;
    background: url(../images/section_1/back_1.jpg) no-repeat;
    background-size: cover;
}

.header__left img {
    object-fit: cover;
}

.header__right {
    grid-area: header__right;
    color: #262f32;
    background-color: #f3f3f3;
    padding-bottom: 125px;
}

.header__right-content {
    max-width: 80%;
}

.header__right img {
    margin-left: 50px;
}

.header__right-burger {
    margin: 55px 0 80px 0;
}

/* =============== SECTION N2 =============== */

.section__sketch {
    background: url(../images/section_2/back_21.jpg) no-repeat;
    background-size: cover;
    grid-area: section__sketch;
}

.section__sketch-container {
    width: 75%;
    margin-bottom: 70px;
}

.section__starting-container, .section__dummy-container {
    width: 80%;
}

.section__sketch-container h2, .section__starting-container h2, .section__dummy-container h2 {
    margin: 90px 0 50px 50px;
}

.section__starting {
    background: url(../images/section_2/back_2_2.jpg) no-repeat;
    background-size: cover;
    grid-area: section__starting;
    color: #262f32;
}

.section__starting a, .section__dummy a {
    position: relative;
    top: 70px;
    padding: 15px 40px;
    border-radius: 5px;
    margin-left: 50px;
}

.section__starting a:hover, .section__dummy a:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.section__starting a {
    color: #262f32;
    border: 2px solid #262f32;
}

.section__dummy a {
    border: 2px solid #fff;
}

.section__dummy {
    background: url(../images/section_2/back_2_3.jpg) no-repeat;
    background-size: cover;
    grid-area: section__dummy;
}

/* =============== SECTION N3 =============== */

.section__ali-sayed {
    background: url(../images/section_3/back_3_1.jpg) no-repeat;
    background-size: cover;
    grid-area: section__ali-sayed;
}

.section__ali-sayed-title, .section__hello-title {
    margin-top: 70px;
}

.section__ali-sayed-logo {
    margin: 270px 0 0 50px;
}

.section__ali-sayed img:hover {
    box-shadow: 0 0 15px white;
}

.section__ali-sayed-container {
    margin-bottom: 75px;
}

.section__hello {
    background: url(../images/section_3/back_3_2.jpg) no-repeat;
    background-size: cover;
    grid-area: section__hello;
}

.section__hello-form {
    margin-left: 50px;
}

input, textarea {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 20px 25px;
    margin: 0 10px 10px 0;
    resize: none;
    outline: none;
    color: #fff;
}

textarea {
    margin-bottom: 105px;
    width: 86%;
}

input[type="text"]::placeholder, input[type="email"]::placeholder, textarea::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    box-shadow: 0 0 15px white;
}

input[type="text"], input[type="email"] {
    width: 39%;
    margin-top: 50px;
}

.section__hello-social {
    margin: 25px 0 50px 50px;
    display: flex;
}

.section__hello-social_size-facebook, .section__hello-social_size-dribbble, .section__hello-social_size-twitter {
    border-radius: 5px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
}

.section__hello-social_size-facebook {
    background-color: #345bb4;
}

.section__hello-social_size-dribbble {
    background-color: #e64895;
}

.section__hello-social_size-twitter {
    background-color: #00b4ff;
}

/* =============== MEDIA QUERIES =============== */

@media only screen and (max-width: 1199px) {
    #wrapper {
        width: 970px;
    }
    textarea {
        width: 83%;
        margin-bottom: 145px;
    }
    input[type="text"], input[type="email"] {
        width: 35.8%;
    }
}

@media only screen and (max-width: 991px) {
    #wrapper {
        position: relative;
        width: 740px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1px repeat(4 auto);
        grid-template-areas: "header__right  header__right  header__right  header__right  header__right  header__right" "header__left header__left header__left header__left header__left header__left " "section__sketch section__sketch section__sketch section__starting section__starting section__starting" "section__sketch section__sketch section__sketch section__dummy section__dummy section__dummy" "section__ali-sayed section__ali-sayed section__hello section__hello section__hello section__hello";
    }
    .header__left {
        height: 100vh;
    }
    .header__right {
        padding-bottom: 0px;
    }
    .header__right-content {
        position: absolute;
        left: 0%;
        color: #fff;
        margin-left: 8%;
    }
    p {
        font-size: 20px;
        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
    }
    .header__right-content h2 {
        text-align: center;
    }
    textarea {
        width: 77%;
        margin-bottom: 37px;
    }
    input[type="text"], input[type="email"] {
        width: 30.8%;
    }
    .section__ali-sayed-title {
        position: relative;
        left: -60%;
        top: 80px;
        margin-top: 20px;
        transform: rotate(-90deg);
        width: 400px;
    }
    .section__hello-social {
        margin-left: 20px;
    }
    .section__sketch-container {
        width: 100%;
    }
    .section__starting-container, .section__dummy-container {
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    #wrapper {
        width: 540px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1px repeat(7 auto);
        grid-template-areas: "header__right " "header__left" "section__sketch" "section__starting" "section__dummy " "section__ali-sayed" "section__hello";
    }
    .section__ali-sayed-title {
        position: static;
        transform: rotate(0deg);
    }
    p {
        margin-left: 20px;
    }
    .section__ali-sayed p, .section__hello p {
        margin-left: 50px;
    }
    input[type="text"], input[type="email"] {
        width: 31.6%;
    }
    .header__right-content {
        margin-left: 0;
    }
    .section__starting-container, .section__dummy-container {
        margin-bottom: 140px;
    }
    .section__hello-social {
        margin-left: 50px;
    }
    .section__hello-contact {
        padding-bottom: 30px;
    }
    .section__hello-contact p {
        font-size: 18px;
    }
    .header__right-content {
        max-width: 100%;
    }
}

@media only screen and (max-width: 575px) {
    #wrapper {
        width: 100%;
    }
    .header__right-content {
        padding-bottom: 50px;
    }
    .section__sketch-container {
        width: 100%;
    }
    .section__ali-sayed p, .section__hello p {
        margin-left: 50px;
    }
    textarea {
        width: 80%;
    }
    .header__right-title {
        width: 100%;
    }
    .header__right-title h2 {
        margin: 0;
    }
    .header__right-burger {
        margin: 35px 0 50px 0;
    }
}